<app-breadcrumbs title="DATA VISITOR" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="container supply-container">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3 class="mb-0">Data Visitor</h3>
    </div>

    <div class="card-body">
      <div class="mb-3 d-flex justify-content-between align-items-center">
        <div class="d-flex">
          <a class="btn btn-label waves-effect waves-light me-2" routerLink="/addVisitor"
            *ngIf="userRole === 1 || userRole === 3" style="background-color: #2A76B2; color: white;">
            <i class="ri-add-circle-line label-icon align-middle fs-16 me-2"></i>Add Visitor</a>
        </div>
        <div class="d-flex align-items-center">
          <div class="me-2">Number of rows:</div>
          <select class="form-select form-select-sm" [(ngModel)]="selectedPageSize" (change)="changePageSize()">
            <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
          </select>
        </div>
      </div>

      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class="text-center">No</th>
            <th class="text-center">Date</th>
            <th class="text-center">Guest Name</th>
            <th class="text-center">Vendor Name</th>
            <th class="text-center">Company Name</th>
            <th class="text-center">Green id Card</th>
            <th class="text-center">Red id Card</th>
            <th class="text-center">Purpose of Visit</th>
            <th class="text-center">PIC From AIO</th>
            <th class="text-center">check-in time</th>
            <th class="text-center">check-out time</th>
            <th class="text-center" *ngIf="userRole === 1 || userRole === 3">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let visitor of displayVisitor; let i = index">
            <td class="text-center">{{ startIndex + i + 1 }}</td> <!-- Mulai dari 1 dan teruskan di setiap halaman -->
            <td class="text-center">{{visitor.date|date}}</td>
            <td class="text-center">{{visitor.nama_tamu}}</td>
            <td class="text-center">{{visitor.nama_vendor}}</td>
            <td class="text-center">{{visitor.nama_perusahaan}}</td>
            <td class="text-center">{{visitor.id_card_hijau}}</td>
            <td class="text-center">{{visitor.id_card_merah}}</td>
            <td class="text-center">{{visitor.keperluan}}</td>
            <td class="text-center">{{visitor.pic}}</td>
            <td class="text-center">{{visitor.jam_masuk}}</td>
            <td class="text-center">{{visitor.jam_keluar}}</td>
            <td class="text-center">
              <div class="btn-group" role="group" aria-label="Aksi">
                <button class="btn btn-sm me-1" (click)="goToEditVisitor(visitor.id)"
                  style="background-color: #67B173; color: white;">
                  Edit
                </button>
                <button class="btn btn-danger btn-sm me-1" (click)="deleteVisitor(visitor.id)">
                  Delete
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination-container">
        <div class="row">
          <div class="col-6 text-left">
            <p class="page-info">Page {{ currentPage }} of {{ totalPages }}, Showing rows {{ startIndex + 1 }} - {{ endIndex }} of {{ totalEntries }}</p>
          </div>
          <div class="col-6 text-right">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled me-2" [ngClass]="{'disabled': currentPage === 1}">
                <a class="page-link" (click)="prevPage()">Previous</a>
              </li>
              <li class="page-item" [ngClass]="{'disabled': currentPage === totalPages}">
                <a class="page-link" (click)="nextPage()">Next</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
