<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Edit Visitor</li>
    </ol>
  </nav>
  
  <div class="container">
    <div class="card">
      <div class="card-header text-black">
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="mt-2">Edit Data Visitor</h5>
        </div>
      </div>
      <div class="card-body">
        <form (ngSubmit)="updateVisitor()">
          <div class="mb-3">
            <div class="form-group">
              <label for="date">Date</label>
              <input type="date" class="form-control" id="date" name="date"
                [(ngModel)]="date" required>
            </div>
          </div>
          <div class="mb-3">
            <label for="namaTamu" class="form-label">Guest Name</label>
            <input type="text" class="form-control" id="namaTamu" [(ngModel)]="nama_tamu" name="nama_tamu" required>
          </div>
          <div class="mb-3">
            <label for="namaVendor" class="form-label">Vendor Name</label>
            <input type="text" class="form-control" id="namaVendor" [(ngModel)]="nama_vendor" name="nama_vendor" required>
          </div>
          <div class="mb-3">
            <label for="namaPerusahaan" class="form-label">Company Name</label>
            <input type="text" class="form-control" id="namaPerusahaan" [(ngModel)]="nama_perusahaan" name="nama_perusahaan" required>
          </div>
          <div class="mb-3">
            <label for="idCardHijau" class="form-label">Green id Card</label>
            <input type="text" class="form-control" id="idCardHijau" [(ngModel)]="id_card_hijau" name="id_card_hijau" required>
          </div>
          <div class="mb-3">
            <label for="idCardMerah" class="form-label">Red id Card</label>
            <input type="text" class="form-control" id="idCardMerah" [(ngModel)]="id_card_merah" name="id_card_merah" required>
          </div>
          <div class="mb-3">
            <label for="keperluan" class="form-label">Purpose of visit</label>
            <input type="text" class="form-control" id="keperluan" [(ngModel)]="keperluan" name="keperluan" required>
          </div>
          <div class="mb-3">
            <label for="pic" class="form-label">PIC From AIO</label>
            <input type="text" class="form-control" id="pic" [(ngModel)]="pic" name="pic" required>
          </div>
          <div class="mb-3">
            <div class="form-group">
              <label for="jamMasuk">Check-in time</label>
              <input type="time" class="form-control" id="jamMasuk" name="jam_masuk" [(ngModel)]="jam_masuk" required>
            </div>
          </div>
          <div class="mb-3">
            <div class="form-group">
              <label for="jamKeluar">Check-out time</label>
              <input type="time" class="form-control" id="jamKeluar" name="jam_keluar" [(ngModel)]="jam_keluar" required>
            </div>
          </div>
          <button type="submit" class="btn btn-primary me-2">Update</button>
          <a class="btn btn-secondary" routerLink="/visitor-al4">Back</a>
        </form>
      </div>
    </div>
  </div>
  