// // @import '~ngx-red-zoom/styles/base.scss';
// @import '~ngx-red-zoom/styles/style-magnifier.scss';

.btn-add {
    background-color: #2A76B2;
    color: #fff;
}
.card1 {
    width: 130px;
    vertical-align: middle;
    text-align: center;
}
.table {
    overflow-y: auto;
}
// .red-zoom--style--custom {
//     @include red-zoom-style-magnifier(
//         // you settings here
//     );
// }